{% extends "master.html" %}

{% block title %}
  My Catalog
{% endblock %}


{% block content %}
  
 <div id="offcanvasSectionMenu" aria-labelledby="offcanvasSectionMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSectionMenuLabel">Меню разделов</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills nav-flush">
        <li class="nav-item">
            <a href="/catalogs">Раздел пословиц</a>
        </li>
    </ul>    
  </div>
</div>
  
{% endblock %}
