{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSectionMenu" aria-labelledby="offcanvasSectionMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSectionMenuLabel">Меню разделов</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills"> <!-- nav-flush" -->
        <li class="nav-item">
            <a href="/catalogs">Раздел пословиц</a>
        </li>
        <li>

        </li>
    </ul>
    <div class="dropdown mt-3">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Выбор темы
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item bg-light text-dark" onclick="setTheme('light')">Светлая тема</a></li>
        <li><a class="dropdown-item bg-dark text-white" onclick="setTheme('dark')">Темная тема</a></li>
        <li><a class="dropdown-item bg-auto text-auto" onclick="setTheme('auto')">Авто тема</a></li>
      </ul>
    </div>    
  </div>
</div>

{% block content %}
{% endblock %}

</body>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script>
  function setTheme(nameTheme){
    const htmlElement = document.documentElement;  
    htmlElement.setAttribute('data-bs-theme', nameTheme);
  }
</script> 
</html>